/* _variable.scss */

// Spacing
$s-n:  0px; // none
$s-s:  4px; // small
$s-m:  8px; // medium
$s-l: 16px; // large
$s-x: 32px; // extra-large

// Color
$c-background: #FFFFFF;
$c-text: #333333;
$c-gray: #999999;
$c-border: #DDDDDD;
$c-link: #6687BC;
$c-hover: #3B5998;

// Width
$w-sp:  400px; // smartphone
$w-pb:  550px; // phablet
$w-tb:  750px; // tablet
$w-pc: 1020px; // PC

// Media Query (Mobile First)
$mq-pb: "(min-width: #{$w-pb})"; // phablet
$mq-tb: "(min-width: #{$w-tb})"; // tablet
$mq-pc: "(min-width: #{$w-pc})"; // PC
